@import url("https://fonts.googleapis.com/css?family=Roboto:100,500,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --body-max-width: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text-primary: #dddddd;
    --clr-text-secondary: white;
    --clr-background: #06001a;
    --clr-accent-primary-light: #ffcb05;
    --clr-accent-primariy-dark: #ff6700;
    --clr-accent-secondary-light: #66c9ff;
    --clr-accent-secondary-dark: #5540bf;
    --clr-logo-light: #ff7586;
    --clr-logo-dark: #de12b6;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --clr-text-primary: #dddddd;
    --clr-text-secondary: white;
    --clr-background: #050017;
    --clr-accent: #ff6700;
  }
}
body {
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  max-width: var(--body-max-width);
  font-family: var(--ff-primary);
  color: var(--clr-text-primary);
  background-color: var(--clr-background);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover, a:focus {
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--ff-secondary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: var(--ff-secondary);
  font-weight: 700;
}
.navbar__toggler {
  display: none;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar__item-link:hover {
  text-decoration: underline 2px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8rem;
  width: 100%;
  position: relative;
}
.banner__title {
  --banner-title-fs: 3rem;
  font-size: var(--banner-title-fs);
  max-width: 15ch;
}
.banner__typer {
  height: calc(1.5 * var(--banner-title-fs));
  overflow: hidden;
}
.banner__typer-mask {
  position: relative;
  max-width: min-content;
  overflow: hidden;
  border-right: 1px solid var(--clr-text-primary);
  --typer-duration: 3s;
  --typer-animation: typer var(--typer-duration) ease-in-out infinite;
  animation: var(--typer-animation), slide calc(var(--typer-duration) * 3) steps(3) infinite calc(-0.5 * var(--typer-duration));
}
.banner__typer-word {
  font-weight: 900;
}
@keyframes slide {
  from {
    top: 0;
  }
  to {
    top: calc(-4.5 * var(--banner-title-fs));
  }
}
@keyframes typer {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.banner__image {
  position: absolute;
  right: -5rem;
  height: 700px;
  width: 700px;
  z-index: -1;
}
@media (max-width: 800px) {
  .navbar__toggler {
    display: grid;
    z-index: 10;
    place-items: center;
    --navbar__toggler-width: 2.5rem;
    width: var(--navbar__toggler-width);
    height: var(--navbar__toggler-width);
    border: 0.12rem solid var(--clr-text-primary);
    border-radius: 50%;
    transition: 300ms;
  }

  .navbar__toggler-icon {
    color: var(--clr-text-primary);
    background-color: transparent;
  }

  .navbar__menu {
    opacity: 1;
  }

  .navbar__toggler-icon--opened {
    border: none;
    transform: rotate(180deg);
  }

  .navbar__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    position: absolute;
    right: var(--body-padding-x);
    padding: 0;
    border: 1px solid var(--clr-text-primary);
    border-radius: 5px;
    background-color: var(--clr-background);
    opacity: 0;
    transition: 300ms;
    overflow: hidden;
  }

  .navbar__menu-item {
    width: 100%;
  }

  .navbar__menu-item-link {
    display: block;
    padding: 1rem;
  }

  .navbar__menu-item-link:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .banner__image {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
