@import url("https://fonts.googleapis.com/css?family=Roboto:100,500,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --body-max-width: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    // Fonts
    --clr-text-primary: #dddddd;
    --clr-text-secondary: white;

    // Colors
    --clr-background-hue: 254;
    --clr-background-saturation: 100%;
    --clr-background-lightness: 5%;
    --clr-background: hsl(
      var(--clr-background-hue),
      var(--clr-background-saturation),
      var(--clr-background-lightness)
    );

    --clr-accent-primary-light: #ffcb05;

    --clr-accent-primary-hue: 24;
    --clr-accent-primary-lightness: 100%;
    --clr-accent-primary-saturation: 50%;
    --clr-accent-primariy: hsl(
      var(--clr-accent-primary-hue),
      var(--clr-accent-primary-lightness),
      var(--clr-accent-primary-saturation)
    );
    --clr-accent-secondary-light: #66c9ff;
    --clr-accent-secondary-dark: #5540bf;
    --clr-logo-light: #ff7586;
    --clr-logo-dark: #de12b6;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text-primary: #dddddd;
    --clr-text-secondary: white;
    --clr-background: hsl(254, 100%, 5%);
    --clr-accent: #ff6700;
  }
}

body {
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  max-width: var(--body-max-width);
  font-family: var(--ff-primary);
  color: var(--clr-text-primary);
  background-color: var(--clr-background);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--ff-secondary);
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: var(--ff-secondary);
  font-weight: 700;

  &__toggler {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__link:hover {
    text-decoration: underline 2px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8rem;
  width: 100%;
  position: relative;

  .title {
    --banner-title-fs: 3rem;
    font-size: var(--banner-title-fs);
    max-width: 12ch;

    &__typer {
      height: calc(1.5 * var(--banner-title-fs));
      overflow: hidden;
    }

    &__mask {
      position: relative;
      max-width: min-content;
      overflow: hidden;
      border-right: 1px solid var(--clr-text-primary);
      --typer-duration: 3.5s;
      --typer-animation: typer var(--typer-duration) ease-in-out infinite;
      animation: var(--typer-animation),
        slide calc(var(--typer-duration) * 3) steps(3) infinite
          calc(-0.5 * var(--typer-duration));

      @keyframes typer {
        0%,
        20% {
          width: 100%;
        }

        50% {
          width: 0%;
        }

        80%,
        100% {
          width: 100%;
        }
      }

      @keyframes slide {
        from {
          top: 0;
        }
        to {
          top: calc(-4.5 * var(--banner-title-fs));
        }
      }
    }

    &__word {
      font-weight: 900;
    }
  }

  .image {
    position: absolute;
    right: -5rem;
    width: 700px;
    height: auto;
    z-index: -1;
  }

  .window {
    position: relative;
    height: 200px;
    max-width: 600px;
    margin: 5rem auto 0;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;

    // color: transparent;
    background-color: hsl(
      var(--clr-background-hue),
      calc(0.06 * var(--clr-background-saturation)),
      calc(1.5 * var(--clr-background-lightness))
    );
    box-shadow: 0 1px 3px 0 black;
    border-radius: 0.375rem;
    overflow: hidden;
    // background-clip: text;
    // background-image: linear-gradient(
    //   81deg,
    //   var(--clr-accent-primariy) 0%,
    //   hsl(
    //       calc(1.5 * var(--clr-accent-primariy-hue)),
    //       var(--clr-accent-primary-saturation),
    //       var(--clr-accent-primary-lightness)
    //     )
    //     75%,
    //   #ffcb05 100%
    // );

    &__bar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      height: 30px;
      width: 100%;
      padding: 1rem 0.5rem;
      background-color: hsl(
        var(--clr-background-hue),
        calc(0.01 * var(--clr-background-saturation)),
        calc(2.8 * var(--clr-background-lightness))
      );
    }

    &__button {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &--red {
        background-color: #ff5952;
      }
      &--yellow {
        background-color: #e6c029;
      }
      &--green {
        background-color: #53c22b;
      }
    }

    &__client {
      padding: 2rem;
    }
  }
}

@media (max-width: 800px) {
  .nav {
    &__toggler {
      display: grid;
      z-index: 10;
      place-items: center;
      --nav__toggler-width: 2.5rem;
      width: var(--nav__toggler-width);
      height: var(--nav__toggler-width);
      border: 0.12rem solid var(--clr-text-primary);
      border-radius: 50%;
      transition: 300ms;
    }

    &__toggler-icon {
      color: var(--clr-text-primary);
      background-color: transparent;

      &--opened {
        border: none;
        transform: rotate(180deg);
      }
    }

    &__menu {
      opacity: 1;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      position: absolute;
      right: var(--body-padding-x);
      padding: 0;
      border: 1px solid var(--clr-text-primary);
      border-radius: 5px;
      background-color: var(--clr-background);
      opacity: 0;
      transition: 300ms;
      overflow: hidden;
    }

    &__item {
      width: 100%;
    }

    &__item-link {
      display: block;
      padding: 1rem;

      &:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .banner {
    margin-top: 5rem;

    .image {
      top: 25rem;
      right: 0;
      left: -5rem;
      width: 550px;
    }
  }
}
