.dark-version .ei-service-icon-text .ei-service-text h3,
.dark-version
  .eg-fun-fact-section
  .eg-funfact-text
  .fun-fact-counter
  .eg-counter-number
  p,
.dark-version
  .eg-how-work-section
  .ei-how-work-content-item
  .eg-how-work-icon-text
  .eg-how-work-text
  h3,
.dark-version .ei-team-section .ei-team-pic-text .ei-team-text h3,
.dark-version .ei-faq-section .ei-faq-queans .ei-faq-header button,
.dark-version
  .ei-testimonial-section
  .ei-testimonial-img-text
  .ei-testimonial-text
  .ei-testimonial-name
  h3,
.dark-version .ei-partner-text h4,
.dark-version .ei-footer-widget .ei-widget-title,
.dark-version .ei-footer-widget h4,
.dark-version .saas_two_banner_section .s2-banner_content h1,
.dark-version .saas_two_banner_section .s2-banner_content .banner_btn a,
.dark-version .saas_two_main_header .s2-main-navigation .navbar-nav li a,
.dark-version .saas_two_section_title h2,
.saas_two_banner_section .s2-banner_content h1,
.dark-version .saas_two_about_section .s2-about_text_icon .s2-about_text h3,
.dark-version .saas_two_feature_section .s2-feature_text h2,
.dark-version .integration_section .integration_text h2,
.dark-version .saas_two_team_section .s2-team_img_text .s2_name_info h3,
.dark-version
  .saas_two_service_section
  .service_content_box
  .service_text_box
  h3,
.dark-version
  .saas_two_feature_section
  .s2-feature_right
  .s2-feature_list
  .s2-feature_text_box
  h3,
.dark-version .saas_two_feature_section .s2-feature_text .saas_btn a,
.dark-version .s2-faq_section .s2_faq_content button,
.dark-version .s2-pricing_section .s2-pricing_item .s2-pricing_btn a,
.dark-version .banner-section .banner-content h1,
.dark-version .main-header .main-navigation li a,
.dark-version .section-title h2,
.dark-version .service-section .service-details .service-item h3,
.dark-version .service-section .service-details .service-item li,
.dark-version .service-section .service-review .service-rate-text,
.dark-version .fun-fact-section .fun-fact-title h2,
.dark-version .fun-fact-section .fun-fact-item .fun-fact-number span,
.dark-version .portfolio-img-text .portfolio-text h3,
.dark-version .team-section .team-pic-text .team-text h3,
.dark-version .testimonial_text,
.dark-version .testimonial-section .carousel-inner .testimonial_meta h4,
.dark-version .blog-section .blog-img-text .blog-text h3,
.dark-version .newsletter-section .newsletter-content .newsletter-text h3,
.dark-version .footer-widget .widget-title,
.dark-version .str-section-title h2,
.dark-version .str-feature-section .str-feature-icon-text .str-feature-text h3,
.dark-version .str-about-section .str-about-content .str-about-textarea,
.dark-version .str-about-section .str-about-content .str-about-list li,
.dark-version .str-work-process-section .str-work-icon-text .str-work-text h3,
.dark-version
  .str-work-process-section
  .str-work-icon-text
  .str-work-text
  .str-btn,
.dark-version .str-work-process-section .str-work-icon-text .str-work-icon i,
.dark-version .str-testimonial_content .str-testimonial_text h4,
.dark-version .str-testimonial_name_designation .str-testimonial_meta h4,
.dark-version .str-testimonial_name_designation .str-testimonial_meta p,
.dark-version .str-newsletter-content .str-newsletter-text h2,
.dark-version .str-team-img-text .str-team-text h4,
.dark-version
  .str-get-in-touch-section
  .str-get-touch-icon-text
  .str-get-touch-text
  h3,
.dark-version
  .str-footer-area
  .footer-content
  .str-footer-widget
  .str-widget-title {
  color: #fff;
}
.dark-version .ei-service-icon-text .ei-service-text p,
.dark-version
  .eg-how-work-section
  .ei-how-work-content-item
  .eg-how-work-icon-text
  .eg-how-work-text
  p,
.dark-version .ei-team-section .ei-team-pic-text .ei-team-text p,
.dark-version .ei-faq-section .ei-faq-content .ei-title-faq p,
.dark-version .ei-faq-section .ei-faq-queans .ei-faq .ei-faq-body,
.dark-version
  .ei-testimonial-section
  .ei-testimonial-img-text
  .ei-testimonial-text
  p,
.dark-version .ei-partner-text p,
.dark-version .ei-footer-widget p,
.dark-version .ei-footer-widget ul li a,
.dark-version .ei-copyright-text p,
.dark-version .ei-footer-copyright .ei-copyright-menu a,
.dark-version .saas_two_banner_section .s2-banner_content p,
.dark-version .saas_two_banner_section .s2-banner_content .banner_btn span,
.dark-version
  .saas_two_service_section
  .service_content_box
  .service_text_box
  p,
.dark-version .saas_two_about_section .s2-about_text_icon .s2-about_text p,
.dark-version .saas_two_feature_section .s2-feature_text p,
.dark-version .integration_section .integration_text p,
.dark-version
  .saas_two_feature_section
  .s2-feature_right
  .s2-feature_list
  .s2-feature_text_box
  p,
.dark-version .s2-faq_section .s2_faq_content .s2_faq .s2_faq-body,
.dark-version .banner-section .banner-content p,
.dark-version .fun-fact-section .fun-fact-item p,
.dark-version .about-content .about-text,
.dark-version .about-content .about-list li,
.dark-version .exp-section .dio-exp-text-area .about-text,
.dark-version .exp-section .skill-progress-bar .skill-set-percent h4,
.dark-version .portfolio-img-text .portfolio-text span,
.dark-version .section-title p,
.dark-version .team-section .team-pic-text .team-text p,
.dark-version .testimonial-section .carousel-inner .testimonial_meta p,
.dark-version .newsletter-section .newsletter-content .newsletter-text p,
.dark-version
  .newsletter-section
  .newsletter-content
  .newsletter-form
  .newsletter-checkbox
  label,
.dark-version .footer-widget p,
.dark-version .footer-widget ul li a,
.dark-version .footer-copyright .copyright-menu a,
.dark-version .copyright-text p,
.dark-version .str-get-touch-text span {
  color: #c4c4c4;
}
.dark-version .ei-service-icon-text .ei-service-icon {
  background-color: #3a256c;
}
.dark-version
  .eg-how-work-section
  .ei-how-work-content-item
  .eg-how-work-icon-text {
  background-color: #3a256c;
}
.dark-version
  .eg-how-work-section
  .ei-how-work-content-item
  .eg-how-work-icon-text
  .scroller-no {
  color: #ce90f4;
}
.dark-version
  .eg-how-work-section
  .ei-how-work-content-item
  .mCSB_scrollTools
  .mCSB_draggerRail {
  background-color: #382b57;
}
.dark-version .ei-appdownloaad-shape {
  opacity: 0.2;
}
.dark-version .ei-team-section .ei-team-pic-text .ei-team-img:after {
  background-image: linear-gradient(180deg, #a11b1b00 0%, #f2295b00 100%);
  border-color: #2968ff;
}
.dark-version .ei-faq-section .ei-faq-queans .ei-faq.faq_bg {
  background-color: #24144a;
}
.dark-version .ei-faq-section .fq-shape-style6 {
  opacity: 0.2;
}
.dark-version .ei-testimonial-section .ei-testimonial-img-text {
  background-color: #0f0034;
}
.dark-version
  .ei-testimonial-section
  .ei-testimonial-img-text
  .test--quote-icon
  i {
  color: #3c4658;
}
.dark-version .ei-footer-copyright .ei-footer-copyright-content {
  border-top: 2px solid #2a2f3d;
}
/*** Dark Home 2 ***/
.dark-version .saas_two_banner_section {
  background-color: #1b0234;
}
.dark-version .saas_two_main_header,
.dark-version .saas_two_feature_section .s2-feature_right .s2-feature_list {
  background-color: #090012;
}
.dark-version .saas_two_service_section .service_content_box::after {
  background-color: #2c0345;
}
.dark-version
  .saas_two_service_section
  .service_content_box
  .service_icon_box
  .upper_icon
  svg {
  fill: #acacac;
}
.dark-version .saas_two_about_section,
.dark-version .integration_section {
  background-color: #000;
}
.dark-version
  .saas_two_team_section
  .s2-team_img_text
  .s2_name_info
  .s2-designation {
  color: #cc0fda;
}
.dark-version .s2-faq_section:after {
  background-image: url(../img/dark-img/cfd.png);
}
.dark-version .s2-faq_section {
  background-color: #000;
}
.dark-version .s2-pricing_section .s2-pricing_item {
  background-color: #1f003e;
}
.dark-version .s2-pricing_section .s2-pricing_item .s2-pricing_list li {
  color: #fff;
  border: none;
}
.saas-classic.dark-version {
  background: #1b0234;
}
.dark-version .banner-section,
.dark-version .service-section,
.dark-version .fun-fact-section,
.dark-version .about-section,
.dark-version .exp-section,
.dark-version .portfolio-section,
.dark-version .team-section,
.dark-version .testimonial-section,
.dark-version .blog-section,
.dark-version .footer-section {
  background-color: #050017;
}
.dark-version .main-header .main-navigation {
  background-color: rgba(5, 0, 23, 0.73);
}
.dark-version .main-header.sticky-menu .main-navigation {
  background-color: transparent;
}
.dark-version .banner-section .banner-side-img {
  z-index: 0;
}
.dark-version .sticky-menu {
  background-color: #000;
}
.dark-version .team-section .team-pic-text .team-img:after {
  display: none;
}
.dark-version .testimonial-section .carousel-inner .carousel-item {
  background-color: #170d3d;
}
.dark-version .testimonial-section .testimonial_slider-area .test-shape1,
.dark-version .testimonial-section .testimonial_slider-area .test-shape2 {
  z-index: 0;
}
.dark-version .newsletter-section {
  background-color: #170d3d;
}
.dark-version .newsletter-section .newsletter-content {
  background-color: #000;
}
.dark-version .footer-copyright .footer-copyright-content {
  border-top: 2px solid #242937;
}
